.brand {
  background: linear-gradient(90deg, #ff7f7f, #ffffff, #9d8cff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  color: transparent;
}
