<section class="p-8 grid grid-cols-1 md:grid-cols-3 gap-6">
  <!-- Order summary -->
  <div
    class="md:col-span-2 gap-2 p-4 rounded-2xl bg-gray-950 shadow-md shadow-teal-600"
  >
    <!-- products in  Cart -->

    <h2 class="text-gray-100 text-2xl p-2">Cart</h2>

    @if (itemsCount()>0) {
    <div class="flex flex-col gap-8 bg-gray-950">
      @for (item of cartItems(); track item){
      <app-CartItem [product]="item"></app-CartItem>
      }
    </div>
    <!-- @if
    (this.cartService.checkIfInCart(item.id!)) {

    }  -->
    }@else {
    <div class="text-gray-100 flex flex-col gap-4">
      <p>There is no product added to the cart</p>
      <p>
        Want to add??
        <a
          routerLink="/"
          class="underline text-teal-500 duration-200 cursor-pointer hover:text-teal-300"
          >See new Products</a
        >
      </p>
    </div>

    }
  </div>
  <div class="md:col-span-1">
    @if (cartItems().length) {
    <app-cart-checkout />
    }
  </div>
</section>
