<p-button
  *ngIf="!authService.isLoggedIn()"
  (click)="showDialog()"
  icon="pi pi-user"
  label="Login"
/>

<p-dialog
  maskStyleClass="backdrop-blur-sm"
  [(visible)]="visible"
  styleClass="!border-0 !bg-transparent"
>
  <ng-template #headless>
    <form
      [formGroup]="isSignUpMode ? registerForm : loginForm"
      class="flex flex-col w-sm px-6 py-6 gap-2 rounded-2xl"
      style="
        border-radius: 12px;
        color: #f0f0f0;
        background-image: radial-gradient(
          circle at left top,
          var(--p-teal-600),
          var(--p-teal-800)
        );
      "
    >
      <h2 class="text-center text-gray-800 text-2xl font-bold mb-0">
        {{ isSignUpMode ? "Sign Up" : "Sign In" }}
      </h2>

      <!-- Mode Toggle -->
      <div class="text-md text-center mt-2">
        @if (isSignUpMode) {
        <span
          >Already have an account?
          <a
            (click)="toggleMode()"
            class="underline cursor-pointer font-[600] hover:text-gray-700 duration-200 transition-colors text-gray-800"
          >
            Sign in
          </a>
        </span>
        } @else {
        <span
          >Don't have an account?
          <a
            (click)="toggleMode()"
            class="underline cursor-pointer font-[600] hover:text-gray-700 duration-200 transition-colors text-gray-800"
          >
            Sign up
          </a>
        </span>
        }
      </div>

      <!-- Email -->
      <div class="inline-flex flex-col gap-2">
        <label for="email" class="text-primary-50 font-semibold">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
          class="!bg-white/20 !border-0 !p-3 !text-primary-50 w-80"
          [ngClass]="{
            'ng-invalid ng-dirty':
              (isSignUpMode ? registerForm : loginForm).get('email')?.invalid &&
              (isSignUpMode ? registerForm : loginForm).get('email')?.touched
          }"
        />
      </div>

      <!-- SignUp Fields -->
      @if (isSignUpMode) {
      <!-- Username -->
      <div class="inline-flex flex-col gap-2">
        <label for="username" class="text-primary-50 font-semibold"
          >Username</label
        >
        <input
          pInputText
          id="username"
          formControlName="username"
          class="!bg-white/20 !border-0 !p-3 !text-primary-50 w-80"
        />
      </div>

      <!-- Gender -->
      <div class="inline-flex flex-col gap-2">
        <div class="card flex justify-center text-primary-50 font-semibold">
          <p-select
            formControlName="gender"
            [options]="genders"
            optionLabel="name"
            placeholder="Select a Gender"
            class="w-full md:w-56"
          />
        </div>
      </div>

      <!-- Image Upload -->
      <div class="inline-flex flex-col gap-2">
        <div class="card flex flex-col items-center justify-center">
          <p-fileupload
            #fu
            mode="basic"
            class="text-gray-800"
            chooseLabel="Profile Picture"
            chooseIcon="pi pi-upload"
            accept="image/*"
            maxFileSize="1000000"
            (onUpload)="onUpload($event)"
          />
        </div>
      </div>
      }

      <!-- Password -->
      <div class="inline-flex flex-col gap-2">
        <label for="password" class="text-primary-50 font-semibold"
          >Password</label
        >
        <input
          pInputText
          id="password"
          type="password"
          formControlName="password"
          class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
        />
      </div>

      <!-- Actions -->
      <div class="flex items-center gap-4">
        <p-button
          label="Cancel"
          (click)="closeDialog()"
          [text]="true"
          styleClass="!p-4 w-full !text-primary-50 hover:!bg-white/10"
          class="w-full bg-gray-500 rounded-lg"
        />
        <p-button
          [label]="isSignUpMode ? 'Sign-Up' : 'Sign-In'"
          (click)="isSignUpMode ? onRegister() : onLogin()"
          [disabled]="(isSignUpMode ? registerForm : loginForm).invalid"
          [text]="true"
          styleClass="!p-4 w-full !text-primary-50 hover:!bg-white/10"
          class="w-full bg-gray-900 rounded-lg"
        />
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
