<footer class="min-h-60 bg-gray-950 flex flex-col">
  <div class="flex justify-center items-center h-12 bg-gray-800">
    <button
      type="button"
      class="text-gray-100 text-xl cursor-pointer transition-all duration-200 hover:text-primary underline"
      (click)="scrollToTop()"
    >
      Back to Top
    </button>
  </div>
  <div class="flex flex-row p-6 gap-12 justify-center items-start">
    <div>
      <h4 class="text-md text-primary mb-4">Shop with Us</h4>
      <ul
        class="*:text-sm *:text-gray-300 *:mb-2 *:hover:text-primary *:cursor-pointer *:transition-colors"
      >
        <li routerLink="/products">All Products</li>
        <li routerLink="/products">Best Sellers</li>
        <li routerLink="/products">New Arrivals</li>
        <li routerLink="/cart">Shopping Cart</li>
        <li routerLink="/profile/orders">Track Orders</li>
      </ul>
    </div>
    <div>
      <h4 class="text-md text-primary mb-4">Get to Know Us</h4>
      <ul
        class="*:text-sm *:text-gray-300 *:mb-2 *:hover:text-primary *:cursor-pointer *:transition-colors"
      >
        <li routerLink="/about">About Makanak</li>
        <li routerLink="/about">Careers</li>
        <li routerLink="/about">Blog</li>
        <li routerLink="/about">Privacy Policy</li>
        <li routerLink="/about">Terms of Service</li>
      </ul>
    </div>
    <div>
      <h4 class="text-md text-primary mb-4">Let Us Help You</h4>
      <ul
        class="*:text-sm *:text-gray-300 *:mb-2 *:hover:text-primary *:cursor-pointer *:transition-colors"
      >
        <li routerLink="/profile">Your Account</li>
        <li routerLink="/profile/orders">Your Orders</li>
        <li routerLink="/profile">Shipping Info</li>
        <li routerLink="/profile/orders">Returns</li>
        <li routerLink="/about">Help Center</li>
      </ul>
    </div>
  </div>
  <div class="text-center text-gray-400 text-sm py-4 border-t border-gray-800">
    <p>© 2025 Makanak. All rights reserved.</p>
  </div>
</footer>
