<footer class="min-h-60 bg-gray-950 flex flex-col">
  <div class="flex justify-center items-center h-12 bg-gray-800">
    <button
      type="button"
      class="text-gray-100 text-xl cursor-pointer transition-all duration-200 hover:text-primary underline"
      (click)="scrollToTop()"
    >
      Back to Top
    </button>
  </div>
  <div class="flex flex-row p-6 gap-12 justify-center items-center">
    <div>
      <h4 class="text-md text-primary">Shop with US</h4>
      <ul class="*:text-sm *:text-gray-300">
        <li>testing list</li>
        <li>testing list</li>
        <li>testing list</li>
      </ul>
    </div>
    <div>
      <h4 class="text-md text-primary">Get to Know Us</h4>
      <ul class="*:text-sm *:text-gray-300">
        <li>testing list</li>
        <li>testing list</li>
        <li>testing list</li>
      </ul>
    </div>
  </div>
</footer>
