<app-header></app-header>
<!-- overlay -->
<div class="flex flex-col justify-center bg-gray-100">
  <main
    class="[&>*]:bg-white [&>*]:w-full [&>*]:min-h-64 [&>*]:text-2xl m-auto sm:w-full md:w-md lg:w-10/12 flex flex-col justify-center py-4 gap-6"
  >
    <!-- Promotions -->
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <!-- Categories -->
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <!-- Favourite -->
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <!-- another section -->
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad
      ducimus nesciunt odio ipsam ut commodi autem, iusto facere incidunt qui
      nostrum magnam laudantium, dicta, fuga dignissimos adipisci enim sapiente.
    </section>
  </main>
</div>
<app-footer></app-footer>
<!-- footer -->
