<div class="bg-gray-300 flex items-center gap-2 rounded-md">
  <img
    src="{{ product.image }}"
    alt="{{ product.title }}"
    class="w-40 h-40 rounded-md cursor-pointer"
    [routerLink]="['/products', product.id]"
  />
  <p
    class="w-2/6 text-md p-2 cursor-pointer"
    [routerLink]="['/products', product.id]"
  >
    {{ product.title }}
  </p>
  <div
    class="flex justify-center items-center gap- bg-gray-200 rounded-lg p-1.5 w-32 h-fit"
  >
    <p-button
      icon="pi pi-minus"
      (onClick)="decrementCount(product.id!)"
      [text]="true"
      [rounded]="true"
    />

    <span class="text-xl font-medium w-12 text-center">
      {{ itemCount }}
    </span>

    <p-button
      icon="pi pi-plus"
      (onClick)="incrementCount(product.id!)"
      [text]="true"
      [rounded]="true"
    />
    <p-button
      icon="pi pi-trash"
      (onClick)="removeFromCart(product.id)"
      [text]="true"
      [rounded]="true"
    />
  </div>
  <p class="text-md"><sup>EGP</sup>{{ product.price }}</p>
</div>
