<div class="bg-gray-300 flex gap-2 rounded-md">
  <img
    src="{{ product.image }}"
    alt="{{ product.title }}"
    class="w-40 h-40 rounded-md"
  />
  <p class="w-2/6 text-md p-2">{{ product.title }}</p>
  <div class="flex products-center gap-2 bg-amber-300 rounded-lg p-1.5">
    <button
      (click)="decrementCount(product.id)"
      class="text-[0.7em] hover:bg-amber-400 p-1 rounded"
    >
      <i class="pi pi-minus"></i>
    </button>

    <span class="text-[0.7em] font-medium">
      {{ itemCount }}
    </span>

    <button
      (click)="incrementCount(product.id)"
      class="text-[0.7em] hover:bg-amber-400 p-1 rounded"
    >
      <i class="pi pi-plus"></i>
    </button>

    <button
      (click)="removeFromCart(product.id)"
      class="text-[0.7em] hover:bg-red-400 p-1 rounded ml-1"
    >
      <i class="pi pi-trash"></i>
    </button>
  </div>
  <p></p>
</div>
